<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">


<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>Estacionamento</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/layout/stylesheets/vendors.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/layout/stylesheets/algaworks.min.css}" />
</head>
<body>
	<div class="aw-layout-page">
		<nav
			class="navbar  navbar-fixed-top  navbar-default  js-sticky-reference"
			id="main-navbar">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand  hidden-xs" href="#"> <img
						alt="AlgaWorks" th:src="@{/layout/images/logo.png}" />
					</a>

					<ul class="nav  navbar-nav">
						<li><a href="#" class="js-sidebar-toggle"> <i
								class="fa  fa-bars"></i>
						</a></li>
					</ul>
				</div>
			</div>
		</nav>

		<aside class="aw-layout-sidebar  js-sidebar">
			<div class="aw-layout-sidebar__content">

				<nav class="aw-menu  js-menu">
					<ul class="aw-menu__list">

						<li class="aw-menu__item"><a th:href="@{/estacionamento/novo}"> 
						<i class="fa  fa-fw  fa-plus-square"></i> <span>Entrada de veículos</span>
						</a> <a th:href="@{/estacionamento/encerramento}"> 
						<i class="fa  fa-fw  fa-table"></i><span>Encerramento</span>
						</a></li>
					</ul>
				</nav>

			</div>
		</aside>

		<section class="aw-layout-content js-content"
			layout:fragment="conteudo"></section>

		<footer class="aw-layout-footer  js-content">
			<div class="container-fluid">
				<span class="aw-footer-disclaimer">&copy; Estacionamento</span>
			</div>
		</footer>
	</div>

	<script th:src="@{/layout/javascripts/vendors.min.js}"></script>
	<script th:src="@{/layout/javascripts/algaworks.min.js}"></script>
	<script th:src="@{/javascripts/vendors/jquery.mask.min.js}"></script>

	<script>
		jQuery('.js-moeda').mask("#.##0,00", {
			reverse : true
		});
	</script>
	<script>
		jQuery('.js-placa').mask("AAA-9999");
	</script>
</body>
</html>